/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/
.breadCrumb{ clear:both;padding:15px 0;border-bottom:solid 1px #e3e6e8; margin-bottom:30px;}

.breadCrumb ul
{
	margin: 0;
	padding: 0;
	/*height: 21px;*/
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 5px 0px 0;
	padding: 0px 15px 0px 0;
	background: url(images/submenu_bullets.gif) no-repeat right 8px;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left; 
	font-weight:bold;
	
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	/*width:16px;*/
	padding: 0;
	/*margin-top: 2px;*/
	overflow: hidden;
	
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
    text-transform:capitalize;
}
.chevronOverlay
{
	display: none;width: 13px;height: 20px;
}
