@media screen and (min-width: 1600px) and (max-width: 1600px) {
#sfCatmenu .sfInnerwrapper::after {right: 225px;}
#sfCatmenu::after {right: 218px;}
}
@media only screen and ( max-width: 1280px ) {
.container .list-banner {height:auto}
/*#sfCatmenu .sfInnerwrapper::after {right: 181px;}
#sfCatmenu::after {right: 174px;}*/
.sf-menu a{padding:0 18px 0;}
#CallUs, #FreeeShipping{width:43.5%;}
#sfCatmenu::after {right: 174px;top: 271px;}
#sfCatmenu .sfInnerwrapper::after{right: 181px;top: 275px;}
.cssClassAddtoCard label{padding: 8px 0px;}
.addtocarts{width: 49%;}
}
@media only screen and ( max-width: 1169px ) {
.sfInnerwrapper > .sfMoreblocks, .sfInnerwrapper > .sfMoreblocks .sfColswrap{ margin:0;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox{/*width:69%*/}
.sf-menu a {padding: 0px 9px 0;}
#FreeeShipping {width: 43%;}
#sfAspxshoppingbag {top: 0px !important;}
.AdvertiseImage {height: auto;}
#sfCatmenu .sfInnerwrapper::after {right: 164px;}
#sfCatmenu::after {right: 157px;}

}
@media only screen and ( max-width: 640px ) {
    .Quantity input[type=text], .classQuantity input[type=text] {
        width: 20%;
        text-align: center;
        padding: 5px;
    }
}
@media only screen and ( max-width: 1110px ) and ( min-width: 1028px )   {
    #CallUs .UpperPara, #FreeeShipping .UpperPara {
       
        font-size: 25px;
       
    }
    #CallUs .LowerPara, #FreeeShipping .LowerPara {
    font-size: 16px;
   
}
}
@media only screen and ( max-width: 1024px ) {
#CallUs .UpperPara, #FreeeShipping .UpperPara{font-size:22px;}
#CallUs .LowerPara, #FreeeShipping .LowerPara{font-size:16px;}
.cssClassPageNumber{font-size:12px;}
.cssClassViewPerPage{right:6px;}
.pagination a, .pagination a:hover, .pagination span, .pagination span.current, span.cssClassPaginationActive{padding:2px 5px;}
#ddlBilling div, #ddlShipping div{width:40.75%;}
.cssClassCartInformationDetails td{padding:14px;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity{width:50%;}  
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .cssClassAddtoCard .sfButtonwrapper{width:50%;}
.cssClassProductListViewRight .cssClassCostVariant .sfListmenu select{width:72%;}
/*#CallUs, #FreeeShipping{width:92.6%;}*/
#sfCatmenu .sfInnerwrapper{font-size:16px;}
.cssClassWishListDash #wishitemBottom label {padding: 8px 17px;margin: 0 5px 5px 2px;}
#gdvRewardPointsSettings_grid .cssClassSearchPanel .sfButtonwrapper .cssClassOrangeBtn {padding: 4px 10px;}
#divWishListContent .cssClassCommonCenterBoxTable{overflow:auto;}
#divWishListContent ,#divShowItemRatingDetails ,#divOrderDetails .cssClassCommonBox .sfGridwrapper{overflow:auto;}
#gdvDownLoadableItems_grid .sfGridWrapperContent{overflow:auto;}
#gdvDownlodableItems .sfGridWrapperContent{overflow:auto;}
#divTrackMyOrder{width:96%;}
.cssClassMyDashBoard .cssClassCommonSideBox{width: 26%!important;}
.cssClassCol1 .cssClassAddressBook{min-height:276px !important;}
.cssClassCol2 .cssClassAddressBook{min-height:276px !important;}
.cssClasMyAccountInformation{width:67% !important;}
/*.cssClassProductsBox h2{min-height:72px;}
.cssClassAvailiability{min-height:46px;}*/
 #wishitemBottom label{padding:8px 12px;}
.cssLatestItemInfo{ padding-top:15px;}

.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:30.67%;}
#sfTopheaderlink .sfInnerwrapper .sfCol_20{ padding-top:2px;}
.cssLatestItemContainer,.cssClassSpecialBoxInfo{width:100.57%; margin-left:-0.25%;}
.cssClassMyAddressInformation .cssClassCommonWrapper,.cssClasMyAddressInformation .cssClassCommonWrapper{ margin:0;}
.cssClassCheckOutMethodLeft{/*width:75%;*/width:auto;}
.cssClassMyDashBoard .cssClassCommonSideBox{ padding:20px;}
.welcome-msg, .cssCustomerRecentActivity{ width:91.47%!important; margin-right:0; padding:20px; float:none !important;}
.sfImageholder{ /*width:300px; top:15%;*/}
#sfBanner{ /*height:340px;overflow:hidden;*/ }
.cssClassService, .sfModuleAspxLatestItemsCarousel, .cssClassBrandWrapper, #divSeasonalItemsContainer{ margin:20px 10px;}
#sfAds{ padding:5% 1%;}
.targetarea{ width:70%;}
#sfCatmenu .sfInnerwrapper::after {right: 139px;top: 265px;}
#sfCatmenu::after {right: 132px;top: 260px;}
.cssClasspBalance, .cssClasspExchangeRate, .cssClasspBalanceLimitations{width:187px;height:230px;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter,.cssClassRightAccordainMenuInfo, .cssClassRightAccordainMenuInfoSelected{ padding:20px;}
.cssClassRightAccordainMenuInfo, .cssClassRightAccordainMenuInfoSelected{width:41%;}
.divDetailsItemList .classInfo{ width:43.35%;}
.popupbox{ width:86%; height:50%; padding:15px 8px 15px 15px;}
#alert-Box{ height:24%;}
#alert-Buttons{ margin-top:10px;}
/*.cssClassCartInfo{ display:none;}  commented by hema and below two css styles are added to show My cart count*/
#sfAspxshoppingbag .cssClassCartInfo{position: absolute;right: -10px;font-size: 12px;}
.cssClassShoppingCart i{font-size: 20px;position: absolute;right: 43px;}
.cssClassLeftSide label input{ padding:5px;}
.fixed{ width:25%;}
.LanguageSwitch{ width:auto; margin-right:5px;}
.LanguageSwitch .sfLanguageContainer span{ display:none;}
.cssClassSageSearchWrapper{ margin-left:0px; padding:0;}
.popupbox li, .cssClassCheckoutLeftBox li,.cssClassAIMChildContent li{margin-right:27px;}
/*.cssClasMyAccountInformation{ width:calc(100% - 282px);}*/
.cssClassCol1 .cssClassAddressBook{ margin-right:16px !important;}
#divEmailSubsCribe input.sfInputbox{ width:54%;}
.bx-wrapper .bx-controls-direction a{ top:33%;}
.bx-wrapper .bx-prev{ left:0;}
.bx-wrapper .bx-next{ right:0;}
.sfLogininfo{ width:151px;}
.cssClassOutOfStock{ font-size:14px;}
.cssClassAddtoCard .cssClassOutOfStock button{ padding:0;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox{ /*padding:7px 7px 8px;*/ /*width: 69%;*/}
#divShiipingInfo #tblShippingInfo div{ float:none; margin-right:0; width:auto;}
.cssClassCheckoutInformationContent ul li select{ width:97%;}
.popupbox li, .cssClassCheckoutLeftBox li, .cssClassAIMChildContent li{ width:48.88%;}
#mega-menuH li a{ padding:8px 14px;}
#sfToplinks {width:77%;padding-right: 5px;padding-left:0}
#sfLogin {width:18%; padding: 0;}
#sfBanner .bx-viewport {overflow: hidden;/*height: 200px !important;*/}
.mega-menu li .sub li{width:155px}
#textCategories {width: 19%;}
.addtocarts,.cssClassAddtoCard .sfButtonwrapper {float: left;width:100%;}
.classQuantity,.Quantity {width: 100%;padding-bottom: 5px;border: none;}
.cssLatestItemContainer .cssClassProductsBox {width: 30.67%;}
.container .list-banner {height: 123px;}
.sfAlignCenter {text-align: center;}
.CurrencyConverter {margin-right: 0px;}
.sfAlignCenter p,.sfAlignCenter div {float:none;text-align:inherit}
#sfAspxlogo, #sfAspxshoppingbag {width:100%;text-align:center;padding: 0;}
.cssSearchContainer {width: 90%;margin-left: 0;}
}
/*@media only screen and ( max-width: 960px ) {
.cssLatestItemContainer,.cssClassSpecialBoxInfo{width:100.8%; margin-left:-0.25%;}
.cssClassProductsBox,.cssLatestItemContainer .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:30.75%;}
.welcome-msg, .cssCustomerRecentActivity{ width:93.85%;}
.cssClassCol1 .cssClassAddressBook{ margin-right:25px;}
.targetarea{ width:68.75%;}
#sfAspxmenubar{ width:70%;}
#sfToplinks{ width:78%;}
#sfLogin{ width:22%;}
.cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{margin:0 1.25% 2.5% 1.25% !important;}
#sfCatmenu .sfInnerwrapper::after,#sfCatmenu::after,#divNav_3764::after,#divNav_3764 .sf-menu::after {display:none}

}*/

@media only screen and ( max-width: 960px ) {
.cssClassProductListViewRight .cssClassCostVariant .sfListmenu select{width:42%;}
.cssClassPageNumber{font-size:14px;margin: 0 10px;}
.pagination a, .pagination a:hover, .pagination span, .pagination span.current, span.cssClassPaginationActive{padding:2px 10px;}
.cssClassProductPictureDetails .cssClassLeftSide .cssViewer{left: 12px;top: -12px;}
 #sfInnercontent,#sfItemdetail {padding:10px;width:100%}
.sfOuterwrapper, .sffooterbtn {margin: 0 auto;width: 90%;}
.cssLatestItemContainer,.cssClassSpecialBoxInfo{width:100.9%; margin-left:-0.25%;}
.cssClassProductsBox,.cssLatestItemContainer .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox{ width:30.75%;}
/*.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox{ width:47.2%;}*/
.cssClassPages{ display:none;}
#sfItemdetailtab {width:100%}
.cssClasMyAccountInformation{ width:calc(100% - 232px);}
.cssClassCol1 .cssClassAddressBook,.cssClassCol2 .cssClassAddressBook,.cssClassCol1 .cssClassAddressBook1,.cssClasspBalance, .cssClasspExchangeRate, .cssClasspBalanceLimitations{ width:auto; float:none; margin-right:0;}
.cssClassCommonCenterBoxTable,.sfGridwrapper{ overflow:auto;}
.cssClassMyDashBoard .cssClassCommonSideBox{ width:160px!important;}
#sfBanner{ /*height:310px;overflow:hidden;*/ }
.sfImageholder{ /*width:275px; top:15%;*/}
.sfBannerDesc{right:0;top:18%;}
.sfBannerDesc h1{ font-size:40px;color:#fff; line-height:52px;}
.sfBannerDesc h2{color:#fff;margin-bottom:0;font-size:60px;line-height:60px;}
.popupbox li, .cssClassCheckoutLeftBox li, .cssClassAIMChildContent li{ margin-right:20px;}
.bx-wrapper .bx-prev {left: 10px;}
#sfBodyContent .sfContainer {margin: 10px 0;border-bottom: solid 1px #eaeaea;border-top: solid 1px #eaeaea;}
#sfBodyContent {border-bottom: solid 1px #d2d2d2;border-top: solid 1px #d2d2d2;}
.bx-wrapper .bx-next {right: 10px;}
.sfBannerDesc p{font:24px/24px 'source_sans_prosemibold',Helvetica, Arial, sans-serif;}
.sffooterbtn .sfInnerwrapper .sfCol_25{ width:49%; /*margin-bottom:30px;*/}
.cssClassProductRealPrice span, .cssClassProductsGridRealPrice span{ font-size:22px;}
.cssClassProductsBox a, .cssClassProductsGridBox h2 a{ font-size:16px;}
.jcarousel-skin .jcarousel-clip-vertical{ width:230px !important; height:80px !important;}
.targetarea{ width:100%;}
.responsive-tabs__panel{ margin-bottom:0; padding:20px;}
.cssClasspBalance, .cssClasspExchangeRate, .cssClasspBalanceLimitations{height:auto;}
.welcome-msg, .cssCustomerRecentActivity{ width:92.6%;}
.cssClassBlueBtnWrapper a{ font-size:inherit; padding:0; padding:10px;}
.divDetailsItemList .classInfo{ width:316px;}
.cssClassLatestItemList .classInfo .cssClassCostVariants {width: 100%;padding-bottom: 10px;}
.divDetailsItemList .itemImageClass{ margin-right:15px;}
#sfAspxmenubar{  clear:both; width:100%;}
#sfAspxshoppingbag{  padding: 0;top: 0;/*position:absolute; right:0; top:0px; clear:both; float:none;*/}
.cssClassShoppingCart { display: none!important;}
#sfHeadertop .sfInnerwrapper .sfMoreblocks{ position:relative;}
.cssClassMegaCategoryWrapper{ border:solid 1px #ededed;cursor:pointer; background:url(../images/responsive_arrow.png) no-repeat right 18px; padding:12px;}
#divCatHeader span{text-transform:uppercase; font-family:'source_sans_prosemibold',Helvetica, Arial, sans-serif; font-size:18px;}
#mega-menuH li { float:none;}
#mega-menuH li a{ padding:0;}
.cssClassCartPictureInformation{ width:auto;}
#sf-CatMenu,#sf-Menu p {display: block!important;background: #0088cc;color: #fff;padding: 5px;text-align:left; border: solid #006699 5px;}
#textCategories{display:none}
#sf-CatMenu,#sf-Menu p { text-transform:uppercase;font-family:Rokkitt; font-size:18px;} 
.sf-CatContainer{ /*margin-top:10px;*/ /*position:absolute;*/ background:#fff;/*border:solid 1px #dfe5e8;*/ border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; /*width:95.5%; left:15px; z-index:9999;*/ border-top:none;}
.sf-MenuContainer{ /*margin-top:10px;*/ background:#fff;border:solid 1px #dfe5e8; border-radius:0 0 3px 3px;-webkit-transform: translate3d(0,0,1px);
transform: translate3d(0,0,1px); -webkit-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px;  left:15px; z-index:9999; border-top:none;}
.sf-CatContainer li,.sf-MenuContainer li{ position:relative;}
.sf-CatContainer li strong,.sf-MenuContainer li strong{ position:absolute; right:0px; top:10px; /*background:#fff;*/ border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; width:25px; height:20px; color:#fff;overflow:hidden; line-height:18px;}
.sf-CatContainer li strong i,.sf-MenuContainer li strong i{ font-size:11px; padding:5px;}
ul.sf-CatContainer li,ul.sf-MenuContainer li{ padding:8px 12px; font-family:'source_sans_prosemibold',Helvetica, Arial, sans-serif; font-size:18px;}
ul.sf-CatContainer li ul li,ul.sf-MenuContainer li ul lu{ font-size:16px; border-top:solid 1px #efefef; list-style:none;}
ul.sf-CatContainer li ul li:first-child,ul.sf-MenuContainer li ul li:first-child{border-top:none;}
ul.sf-CatContainer li ul li ul li,ul.sf-MenuContainer li ul li ul li{ font-family:'source_sans_proregular',Helvetica, Arial, sans-serif;background:url(../images/submenu_bullets.gif) no-repeat left 10px;padding:5px 0 5px 15px; font-size:16px;list-style:none;}
ul.sf-CatContainer li ul li strong,ul.sf-MenuContainer li ul li strong{ /*background:#3b3b3b;*/ right:0; }
.cssClassShoppingCart i{ font-size:30px;}
#divCatHeader {display:none}
#divCatHeader, #divEmailtext, #Manufacturers, .cssClassLeftHeader {padding: 5px;width: auto;left:0}
/*Responsive Menu Nav Sectoion*/
#responsiveIcon{ width:30px; overflow:hidden;}
#responsiveIcon a{ color:#FFF;}
#responsiveIcon a i{ font-size:27px;color: #0088cc;}
#sfToplinks{ position:absolute; height:100%; overflow:auto; width:280px; left:0;background:#333333; z-index:9999; padding:0; transform:translateX(-100%);-webkit-transform:translateX(-100%);-o-transform:translateX(-100%); top:0;}
.ResponsiveHtml{ width:32px; float:left;margin-right:10px;}
.tzSelect{ height:auto; background-position:right 12px;}
.tzSelect,.tzSelect .selectBox{ width:100%; float:none; position:relative;}
.tzSelect .selectBox{ padding:7px 0;} 
.tzSelect .dropDown li,.tzSelect .dropDown li:hover{ background:none; color:#c4ced4; padding:10px 5px; border-top:solid 1px #4d5e68; border-bottom:none;}
.tzSelect .dropDown li img{ float:none; margin:0; margin-right:5px;}
.dropDown li span{ display:inline-block;}
.cssClassCurrencySelect .selectBox span,.cssClassCurrencySelect span,.cssClassCurrencySelect .selectBox img{ padding:0; margin:0; float:none;}
.cssClassCurrencySelect .selectBox img{ margin-right:5px;}
.sfHeaderDropdown dd ul, .tzSelect .dropDown{ border:none; background:none; box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none; padding:0; position:relative; left:0; top:auto;}
.sfLanguageContainer select{ width:100%;}
.LanguageSwitch{ padding:10px 15px; border-bottom:solid 1px #474747; background:#2d2c2c; margin:0; width:auto; height:auto;}
.CurrencyConverter{ padding:7px 15px; border-bottom:solid 1px #474747; font-size:14px; margin:0;}
.HeaderControl{ margin:0; width:auto; height:auto;}
.HeaderControl .cssClassLoginStatusInfo ul li{ float:none; margin:0;padding:9px 15px; border-bottom:solid 1px #474747; background:#2d2c2c;}
.HeaderControl ul li:nth-child(even){ background:none;}
/*end*/
.sfModuleSimpleSearch{ width:auto; float:none;}
/*city dropdown*/
/*#sfLogin,.sfModuleSimpleSearch{ width:auto; float:none;}*/
#sfLogin{ width:100%;}
#sfLogin{padding: 5px 15px;}
.CurrencyConverter,.LanguageSwitch,.HeaderControl{ float:none;}
#divNav_3764::after,#sfCatmenu::after,#sfCatmenu .sfInnerwrapper::after {display:none}
    #sfCatmenu .sfModulecontent::after, #sfResponsiveNavBtn {display:none!important;
    }

/*.LoginStatus{ width:91.5%;}*/
#ddlBilling div, #ddlShipping div{ width:42.9%;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel,.PageOuter{ width:89.75%;}
.cssClassLoginLeftBox{ padding:0 30px;}
.cssClassShippingMethodInfo .cssClassCartPictureInformation{ width:96%;}
.fixed{ width:30%;}
/*body { transform:translateX(0px);-webkit-transform:translateX(0px);-o-transform:translateX(0px); transition:all 0.3s ease-in-out 0s;-webkit-transition:all 0.3s ease-in-out 0s;-o-transition:all 0.3s ease-in-out 0s; display:initial;}*/
.cssClassResTab{overflow:hidden; transform:translateX(280px);-webkit-transform:translateX(280px);-o-transform:translateX(280px);}
.ShoppingBagHeader{ padding:3px 0;}
.cssClassApplyWrap, .cssClassCartbtmwrapper .cssClassSubTotal, .cssClassCartbtmwrapper .sfFormwrapper .toogleWrapper{ float:left; width:100%; display:block;}
.cssClassCheckOutMethodLeft,.cssClassRightAccordainMenu{ float:none; width:auto;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:94.45%;}
.cssClassRightAccordainMenuInfo, .cssClassRightAccordainMenuInfoSelected{ width:auto; margin-bottom:30px;border: solid 1px #eaeaea;}
.thumbs li{ float:left;margin-right:10px; display:block; height:60px !important; border:1px solid #dce2e6; background:#fff;width: 60px !important;text-align:center;padding:5px;}
.cssItemCategories .cssClassCategoriesName li{ line-height:30px;}
#alert-Box {height: 33%;width: 55%;}
.thumbs{ width:300px !important;}
.jcarousel-skin .jcarousel-next-vertical,.jcarousel-skin .jcarousel-prev-vertical{ transform:rotate(-90deg); left:180px; top:10px;}
.jcarousel-skin .jcarousel-prev-vertical{ top:58px;}
#sfMenu {width: 100%;padding: 0 15px;}
.cssClassMegaCategory {margin:0 0 10px 0;}
#sfCatmenu {margin-bottom:10px;padding:0}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {/*width: 50%;*/}
#sfBanner .bx-viewport {overflow: hidden;height: 312px  !important;}
#sfSagebanner {padding:0;width:100%}
#sfAdvertise {display:none}
#sfCategories {padding: 0;width: 100%;}
#sfLatestitems {padding: 0;width: 100%;}
.i-plus:before,.i-minus:before {color:#0088cc}
ul.sf-CatContainer li ul li strong .i-plus:before,ul.sf-CatContainer li ul li strong .i-minus:before {/*color:#bbb*/}
.sf-CatContainer a {display:block}
#sfFrontCategory {width: 22%;}
.container .list-banner {height: 94px;}
#divEmailSubsCribe input.sfInputbox {width: 90.7%;}
#sfHeadertop {padding: 15px 0 1px;}
.sfNavigation {background:#fff}
.sf-MenuContainer .sf-sub-indicator {display:none}
.sf-menu {display:none}
#sf-CatMenu .i-menu {margin-right: 0px;}
.i-menu {font-size: 20px;margin-right: 3px;color: #fff;float: right;}
/*#sf-Menu {margin:10px 0 0 0}*/
.cssSearchContainer {width: 99.7%!important;margin-left: 0!important;margin-bottom: 10px;}
.sfLogininfo {width: auto;}

.cssClassProductsBox {border:solid 2px #fa8206;}
.sf-CatContainer {display:none}
.viewWrapper .view, .viewWrapper .sort,.pagination ,#Pagination  {/*float:none*/float:left;}
.cssClassapplycoupon, .cssClassRewardWrap, .cssClassTwrap, .cssClassRatingEst {border: solid 1px #eaeaea;}
#sfBrand .sfWrapper {border: solid 1px #eaeaea;margin-top: 11px;}
.cssClassViewPerPage {margin-top: 10px;}
.addtocarts, .cssClassAddtoCard .sfButtonwrapper {width: 100%;}
.cssClassAddtoCard label {padding: 8px 0px;}
#CallUs, #FreeeShipping {width: 94.8%;}
}

@media only screen and ( max-width: 800px ) {
.cssClassProductListViewRight .cssClassCostVariant .sfListmenu select{width:52%;}
#divEmailSubsCribe input.sfInputbox {width: 89%;}
#sfBanner .bx-viewport {height: 258px !important;}
#CallUs, #FreeeShipping {width: 94.5%;}
}

@media only screen and ( max-width: 768px ) {
.cssClassProductListViewRight .cssClassCostVariant .sfListmenu select{width:54%;}
/*.cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:30.57%;}*/
#divEmailSubsCribe input.sfInputbox {width: 88.5%;}
#sfBanner .bx-viewport {height: auto !important;}
.Quantity, .classQuantity {float: left;width: 50%;padding: 4px 0;border-top: solid 1px #ccc;}
.addtocarts {width: 50.692%;}
.cssClassAdvanceSearchLink {display: none!important;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {width: 92%;}
.cssClassAddtoCard .sfButtonwrapper, .Quantity .sfButtonwrapper {float: left;width: 50%;}
.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox, .cssClassYouMayAlsoLikeWrapper .cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox {width: 97.5%;margin: 0 1.25% 2.5% 1.25% !important;position: initial!important;}

.detailButtonWrapper .sfButtonwrapper button,.detailButtonWrapper .cssClassWishListButton button,.detailButtonWrapper .sfButtonwrapper button{display:inline-block; width:auto;}
h2{ font-size:20px;}
h3{ font-size:16px;}
.welcome-msg, .cssCustomerRecentActivity{ width:92.35%;}
.divDetailsItemList .classInfo{ width:300px;}
.sf-CatContainer{ }

#ddlBilling div, #ddlShipping div{ width:42.68%;}
.cssClassAddtoCard .cssClassOutOfStock button,.cssLatestItemInfo .cssClassOutOfStock button{display:block; width:auto; padding:0; margin-right:10px;}
.jcarousel-skin .jcarousel-container-horizontal{ width:225px !important; padding:0 20px;}
.jcarousel-skin .jcarousel-clip-horizontal{ width:190px !important;}

}
@media only screen and ( max-width: 640px ) 
{
.cssClassProductListViewRight .cssClassCostVariant .sfListmenu select {width: 66%;}
.cssClassPageNumber{font-size:12px;}
.pagination a, .pagination a:hover, .pagination span, .pagination span.current, span.cssClassPaginationActive{padding:2px 6px;}
.addtocarts {width: 50.62%;}
#divTrackMyOrder {width: 91%;}
.cssClassSearchPanel .sfButtonwrapper .cssClassOrangeBtn{padding: 1px 9px;}
.cssClassSearchPanel #btnGetOrderDetails span{line-height: 19px;}
.cssClassSearchPanel div {padding-left: 0px !important;padding-right: 0% !important;}
.cssClassMyAccountInformation{text-align:center;}
#divTrackMyOrder .cssClassOrangeBtn label{display:none !important;}
.welcome-msg, .cssCustomerRecentActivity{width: 86.47%!important;}
/*#dvMyRewardPoints ,#divReturnHistory ,#divOrderDetails ,#divMyOrders{width:97%!important;}*/
/*#gdvRewardPointsSettings_grid .sfGridWrapperContent{overflow:auto;}*/
.cssClassMyDashBoard .cssClassCommonSideBox{width:97% !important;margin-right:0;}
.cssClassMyDashBoard .cssClasMyAccountInformation{width:97%!important;}

/*.cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:30.67%;}*/
.cssLatestItemInfo{ padding-top:15px;}
.cssClassFilter{ /*width:91.5%;*/}
.cssCategoryWrapper,.cssClasMyAccountInformation{ width:100%;}
/*.welcome-msg, .cssCustomerRecentActivity{ width:93.45%;}*/
.sf-CatContainer{}
.sf-MenuContainer {width: 99.7%;}
.ShoppingBagHeader{ padding:0;}
.sfLogo {text-align:center}
.cssProfileImage{ float:left; margin-right:30px;}
/*.LoginStatus{ width:89.30%;}*/
.divDetailsItemList .classInfo{width:236px;}
.divDetailsItemList .itemImageClass{ width:40%;}
.divDetailsItemList .itemImageClass img{ width:100%;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:93%;}
/*span.showingPags{ display:none;}*/
#ddlBilling div, #ddlShipping div{width:92%;}
.sfPopupclose, .cssClassClose{ top:-7px;}
.popupbox .sfFormwrapper input[type="text"], .popupbox .sfFormwrapper textarea{ width:95%;}
/*#alert-Box{ height:20%; width:80%;}*/
.cssClassPages,.detailButtonWrapper label.cssCompareLabel,.jcarousel-skin{ display:none;}
/*#sfBanner{ height:310px; overflow:hidden;}*/
/*.sfImageholder{ width:200px; top:15%;}*/
.sfBannerDesc{right:0;top:18%; width:300px;}
.sfBannerDesc h1{ font-size:30px;color:#fff; line-height:52px;}
.sfBannerDesc h2{color:#fff;margin-bottom:0;font-size:50px;line-height:50px;}
#divWishListSort { float:none;}
/*#sfAspxlogo {width:100%}*/
#sfMenu {position: initial;width: 100%;padding: 0 15px;}
.cssClassCartbtmwrapper, .cssClassRatingEst .sfButtonwrapper, .cssClassapplycoupon .sfButtonwrapper, .cssClassCartbtn .sfButtonwrapper, .cssClassHeader {text-align: center;}
.sf-CatContainer,.sf-MenuContainer {left:initial}
#sf-CatMenu .i-menu {float:right}
#textCategories {display:none}
#sfFrontCategory {width: 27%;border-left: solid 1px #ccc;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {width:91%;}
.container .list-banner {height: auto;}
.container .BigImage,.container .SmallImage {width: 100%;padding-bottom: 10px;}
/*.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox, .cssClassYouMayAlsoLikeWrapper .cssClassProductsBox {width: 47%;}*/
#divEmailSubsCribe {width: 100%;margin: 0 auto;}
/*#sfAspxshoppingbag {padding-right: 15px;}*/
#sfAspxlogo, #sfAspxshoppingbag {text-align:initial}

#divEmailSubsCribe input.sfInputbox {width: 85.7%;}

.cssClassLeftSide label input {margin: 0 5px 10px 0;}

}
@media only screen and ( max-width: 600px ) 
{
#sfBanner,.showingPags,.cssClassCompareButton{ /*display:none;*/}
.popupbox{ width:85%; height:85%}
.welcome-msg, .cssCustomerRecentActivity{ width:93%; margin-bottom:30px;}
.cssClassMyDashBoard .cssClassCommonSideBox{width:92.8%;}
/*.cssClassFilter{width:90.8%!important;}*/
/*.sf-CatContainer{ width:94.65%;}*/

.divDetailsItemList .classInfo{width:216px;}
.divDetailsItemList .itemImageClass{ width:40%;}
.divDetailsItemList .itemImageClass img{ width:100%;}
/*.sfButtonwrapper button, .cssClassWishListButton button, .sfButtonwrapper button{display:none;}*/

.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:92.55%; margin-bottom:30px;}
.sfPopupclose, .cssClassClose{ width:20px; height:20px; top:-9px;}
.cssClassClose span i{font-size:11px;}
.sffooterbtn .sfInnerwrapper .sfCol_25{ /*width:auto; float:none;*/}
.sfModuleCopyrightHtml{ text-align:left;}



}
@media only screen and ( max-width: 568px ) 
{
.cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox{ /*width:32%;*/}
.cssClassProductsBox, .cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{/*width:30.67%;*/}
.cssClassFilter{ /*width:90.5%;*/}
.cssClassMyDashBoard .cssClassCommonSideBox{ width:92.2%;}
.sf-CatContainer{ /*width:94.4%;*/}

.welcome-msg, .cssCustomerRecentActivity{ width:92.65%;}
.popupbox .sfFormwrapper select{ width:95%;}
.popupbox li, .cssClassCheckoutLeftBox li, .cssClassAIMChildContent li{ width:47.9%;}
.cssClassCol1 .cssClassAddressBook1,.cssClassAddWrapper{ float:none; width:100%;}
.cssClassAddWrapper{ margin-bottom:30px;}
}
@media only screen and ( max-width: 540px ) 
{
/*.welcome-msg, .cssCustomerRecentActivity{ width:92.25%;}*/

.cssClassMyDashBoard .cssClassCommonSideBox{ width:91.8%;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:91.75%;}
}
@media only screen and ( max-width: 480px )
{
.cssClassProductListViewRight h2{font-size: 16px;margin:0px;}
.cssClassProductListViewRight .cssClassProductRealPrice span{font-size: 16px;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity{width:32%;padding: 2px 0;}
.cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity span{width: 24px;}
.cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity input[type=text]{width: 34%;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .cssClassAddtoCard .sfButtonwrapper{width:40%;}
.cssClassProductListViewRight .cssClassAddtoCard label{padding:6px 0;}
#Manufacturers, #ManufacturersList{display:none;}
span.showingPags{ display:none;}
.sfAlignCenter img {width: 23%;}
/*.sfButtonwrapper label, .cssClassWishListButton label,.cssClassBlueBtnWrapper a  {display: block;float:none}*/
.cssClassCartbtn .sfButtonwrapper label {display: block;float:none;margin-bottom:10px}
.ResponsiveHtml{ width:19px;}
.cssClassSageSearchWrapper{ padding:0; padding-top:2px;}
.cssClassCheckoutLeftBox li input {width: 100%;}
.cssClassCheckoutInformationContent ul li select {width: 105%;}
.sf-CatContainer{ /*width:83.25%;*/}
#responsiveIcon a i{ font-size:19px;margin-top:5px;}
#responsiveIcon{ width:24px;}
#sfAspxshoppingbag{ right:0;}
.cssClassShoppingCart{ margin-top:3px;}
.cssitemdetailwrap .sfCol_45,.cssitemdetailwrap .sfCol_55{ float:none; width:100%; }

.cssClassProductsBox,.cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:97.5%!important; margin:0 1.25% 2.5% 1.25% !important;}
.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox, .cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:97.5%; margin:0 1.25% 2.5% 1.25% !important;position: initial!important;}
/*.cssLatestItemContainer,.cssProductGridWrapper,.cssClassFilter, .cssClassCommonSideBox,.cssCategoryWrapper,#sfFooterbtn .sfCol_25{ margin:0 auto;}*/
.cssClassFilter{margin:0 0 30px 0;}
.cssClassMyDashBoard .cssClassCommonSideBox{width:90.7%;margin-bottom:30px;}
.cssLatestItemInfo{ padding-top:10px;}
.cssClassAddtoCard .sfButtonwrapper{ margin-right:0;}
/*.cssClassAddtoCard .cssClassOutOfStock button{ text-indent:inherit; width:auto;}*/
.cssDlinks ul li a, .popbox a {display: block;text-align: center;background: #ccc;margin-bottom: 8px;padding: 5px;}
.cssClassLeftSide li {float: none;margin: 0;}
.cssClassLeftSide .cssClssQTY {float: none;}
.cssClassItemQuickOverview {padding:0;margin:0}
.cssClassProductImagewrap,.cssClassProductPictureDetails,.cssDlinks{ width:100%; float:none; margin:5px 0; padding:0;}
.cssClassProductDetailInformation h2{ font-size:18px;}
.cssClassTabPanelTable{margin-top:10px;}
.sffooterbtn .sfInnerwrapper .sfCol_25{ float:none; width:auto;}
.cssClassProductImagewrap{ margin:0 0 30px 0;}
.cssSearchContainer div,.cssSearchContainer li#sfFrontCategory,.cssSearchContainer .cssClassTopSearch{ display:none;}
.jcarousel-skin .jcarousel-container-horizontal{ padding:20px 40px 0;}
.cssProfileImage{ float:none; margin:0 auto;}
/*.welcome-msg, .cssCustomerRecentActivity{ width:91%;}*/
.popupbox li, .cssClassCheckoutLeftBox li, .cssClassAIMChildContent li{ width:95%; margin-right:0;}
.ui-tabs .ui-tabs-nav li a{ padding:8px 14px;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:90.8%; padding: 13px;}
.sfSignlecheckoutleft,.cssClassCheckOutMethodRight{ float:none; width:auto;}
.cssClassLoginLeftBox{ border-left:none; padding:0;}
.cssClassLoginRighttBox{ text-align:left; margin:0;}
.cssClassCartInformationDetails{ width:100%; overflow:auto;}
/*.cssClassCartInformationDetails table{ width:150%;}*/
.sfDashBoard .icon-dashboard{ width:20px; overflow:hidden;}
.cssPriceDetailwrap{margin:0px;padding:0}
.popupbox .sfFormwrapper input[type="text"],.popupbox .sfFormwrapper .cssClassTextarea{ width:90%;}
.LoginStatus .sfLogininfo ul li{ /*width:20px; overflow:hidden;*/}
.LoginStatus .sfLogininfo ul li.sfWelcomeMsg{ width:auto;}
.LoginStatus .sfLogininfo ul li a i{ font-size:20px;}
.divDetailsItemList .classInfo{ width:88%; float:none;}
.targetarea{ margin-top:20px;}
.cssClassSageSearchWrapper li, .cssClassSageSearchBox{ float:none;}
/*.cssClassSageSearchWrapper input.cssClassSageSearchBox{ width:88.1%; float:left;}*/
.popupbox .sfFormwrapper select{ width:93%;}
.cssClassAdvenceSearch [class*="sfCol_"]{ float:none; width:100%;}
select#ddlCategory{ width:100%;}
#olAddtionalEntries .cssClassAddWrapper .cssClassChange a{ right:50px;}
#olAddtionalEntries .cssClassAddWrapper .cssClassChange a.cssDeleteBtn{ right:20px;}
#sfBanner .bx-viewport {overflow: hidden;height: 144px !important;}
.cssClassAdvanceSearchLink {display: none!important;}
.cssClassSageSearchWrapper {padding:0}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {border-radius: 0;/*width: 88.1%;*/}
.LoginStatus .sfLogininfo ul .sfLogin {width: 40px;overflow: hidden;}
.LoginStatus .sfLogininfo ul .sfRegister {width: 80px;overflow: hidden;}
/*.cssLatestItemInfo .cssClassAddtoCard .Quantity {width: 45%;}*/
/*.addtocarts,.cssClassAddtoCard .sfButtonwrapper {width:50.3%;}*/
#divEmailSubsCribe input.sfInputbox {width:80%;}
.sffooterbtn h2, .sfModuleCopyrightHtml h2, #divEmailSubsCribe #divEmailtext {font-size: 19px;margin-bottom: 10px;}
#lblmessage {float:left;width:100%; }
#CallUs, #FreeeShipping {width: 92.5%;}
#sfItemdetail .cssClassProductInformation .cssClassGreenBtn {padding: 6px 0px;width: 100%;}
.addtocarts,.cssClassAddtoCard .sfButtonwrapper {width:45%;}
.cssClassProductsBoxInfo{width:100%;float:left;margin-bottom: 16px}
.cssClassProductPicture{/*display: block;overflow: hidden;*/float: left;position: relative;width: 35%;margin-left: 1%;}
.cssLatestItemInfo{float: right;width: 60%;}
.cssClassProductPicture img{width: 140px;height: 104px;}
.cssClassProductsBox h2{padding: 0px;min-height:44px;}
.cssClassProductsBox{text-align:left;}
.cssClassProductPriceBox{padding:0px;}
#divLatestItemList .cssClassAddtoCard{margin-top:10px;}
.Quantity, .classQuantity{width:45%;margin-right:4px;border:none;}
#divLatestItemList .ItemsInfoClass{float:right;width: 59%;padding-top:10px;}
#divLatestItemList .ItemsInfoClass .sfListmenu select{width:80%;}
.cssLatestItemInfo .sfListmenu select{width:80%;}
.cssClassProductsBox .latest-wrap {margin-bottom:16px!important;}
#sliderObj div.cat-slide-container div.cat-slide-container-inner div {display: none;}
.viewWrapper .view{display:none!important;}
.cssClassSlider{margin:0px;}
#divEmailSubsCribe,.adds{display:none!important;}

}
@media only screen and ( max-width: 360px )
{
.cssClassProductListViewRight .cssClassAddtoCard label {padding: 5px 0;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .cssClassAddtoCard .sfButtonwrapper {width: 42%;}
.cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity input[type=text]{width: 28%;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity{width:36%;padding: 1px 0;}
.pagination a, .pagination a:hover, .pagination span, .pagination span.current, span.cssClassPaginationActive{padding:2px 10px;}
#balance-enquiry .sfGridWrapperContent div{width:100%;margin-bottom:10px;}
#gdvRewardPointsSettings_grid .cssClassSearchPanel  div {width: 82%;margin-bottom: 10px;}
#gdvRewardPointsSettings_grid .cssClassSearchPanel span{line-height:34px;}
#divTrackMyOrder .cssClassSearchPanel .sfButtonwrapper .cssClassOrangeBtn {padding: 1px 6px;}
.cssClassSearchPanel #btnGetOrderDetails span{line-height:34px;}
.sfOuterwrapper, .sffooterbtn {margin: 0 auto;width: 82%;}
#divTrackMyOrder div{width:80%;margin-bottom: 10px;}
#gdvDownLoadableItems_grid .sfFloatNone div{width:80%;}
.welcome-msg, .cssCustomerRecentActivity {width: 81.47%!important;}
/*#gdvRewardPointsSettings_grid .cssClassSearchPanel .sfButtonwrapper .cssClassOrangeBtn {padding: 1px 2px;}*/
.cssProfileImage {float: left;margin-right: 33px;}
.cssClassSearchPanel .sfButtonwrapper .cssClassOrangeBtn {padding: 1px 6px;}
.cssClassSearchPanel div {line-height: 28px;}
.cssClassMyDashBoard .cssClassCommonSideBox{width:93% !important;}
.cssClassMyDashBoard .cssClasMyAccountInformation {width: 95%!important;}
#CallUs, #FreeeShipping {width: 92.5%;}
.cssClassPaymentMethods #dvPGList label {width: 100% !important;height: 40px;padding: 0px;}
#CallUs .UpperPara, #FreeeShipping .UpperPara {font-size: 27px;}
#CallUs .LowerPara, #FreeeShipping .LowerPara {font-size: 19px;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {width: 86%;}
.addtocarts, .cssClassAddtoCard .sfButtonwrapper {width: 46%;}
.loggedin{ display:none;}
#sfBanner .bx-viewport {overflow: hidden;height: 101px !important;}
.cssClassMyDashBoard .cssClassCommonSideBox{width:87.2%;}
.welcome-msg, .cssCustomerRecentActivity{height: 215px !important;}
.divDetailsItemList .classInfo{ width:84%;}
.sfPopupclose, .cssClassClose{ right:-7px;}
/*.cssClassSageSearchWrapper input.cssClassSageSearchBox{ width:84.1%;}*/
.cssClassShoppingCart i{ font-size:26px;}
.detailButtonWrapper .sfButtonwrapper label{ float:none; width:92.65%; margin-right:0; margin-top:10px; text-align:center; padding:6px 12px;}
#alert-Box{ height:36%;}
.cssNoBodyScroll{ overflow:hidden; width:100%; height:100% !important;}
 #divEmailSubsCribe input.sfInputbox {width: 73%;}
#alert-Box{width:63%;}
.Quantity span, .classQuantity span{width: 28px;}
.Quantity, .classQuantity{width:40%;}
.Quantity input[type=text], .classQuantity input[type=text]{width:26%;}
.cssClassProductRealPrice span, .cssClassProductsGridRealPrice span{font-size:18px;}
.cssClassProductPicture img{width:85px;}
.cssClassAddtoCard label {padding: 8px 2px;}
#divBrandHeader .sfBrandLogo img{width:100%;}
}
@media only screen and ( max-width: 320px )
{
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity{width:39%;}
.cssClassProductListViewRight .cssClassViewDetailsAddtoCart .Quantity input[type=text]{width:25%;}
.cssClassProductListView .cssClassProductListViewRight .cssClassViewDetailsAddtoCart .cssClassAddtoCard .sfButtonwrapper{width:43%;}
.addtocarts, .cssClassAddtoCard .sfButtonwrapper {width: 50%;}
.welcome-msg, .cssCustomerRecentActivity {width: 80.47%!important;}
.welcome-msg, .cssCustomerRecentActivity {height: 220px!important;}
.cssClassMyDashBoard .cssClassCommonSideBox {width: 90%!important;}
.cssClassMyDashBoard .cssClasMyAccountInformation {width: 93%!important;}
.sf-CatContainer{ /*width:79.5%;*/}
.cssClassProductsBox, .cssLatestItemContainer .cssClassProductsBox,.cssClassProductsBox, .cssClassDisplayResult .cssCatProductGridWrapper .cssClassProductsBox,.cssClassYouMayAlsoLikeWrapper .cssClassProductsBox{ width:97.27%;}
.cssClassFilter{ /*width:82%;*/ margin-bottom:30px;margin-top:0;}
.cssClassMyDashBoard .cssClassCommonSideBox{ width:85.55%; margin-bottom:30px;margin-top:0;}
.cssSearchContainer{ /*width:258px;*/}
.welcome-msg, .cssCustomerRecentActivity{ width:86.2%;}
.cssClassAccordionWrapper .ui-tabs .ui-tabs-panel, .PageOuter{width:86%!important;}
.divDetailsItemList .classInfo{ width:81.85%;}
/*.cssClassSageSearchWrapper input.cssClassSageSearchBox{ width:77%;}*/
.popupbox .sfFormwrapper select{ width:94.55%}
.detailButtonWrapper .sfButtonwrapper label{ width:91.65%;}
/*.cssClassSageSearchWrapper input.cssClassSageSearchBox {width:82.1%;}*/
#divEmailSubsCribe input.sfInputbox {width:66%;}
.cssClassSageSearchWrapper input.cssClassSageSearchBox {width: 80.2%;}
#sfBanner .bx-viewport {height: 90px}
#alert-Box {width: 71%;}
.cssClassProductPicture img {width: 76px;}
.cssClassAvailiability{font-size:12px;}
.cssClassProductRealPrice span, .cssClassProductsGridRealPrice span{font-size:16px;}
.Quantity span, .classQuantity span {width: 23px;}
.Quantity input[type=text], .classQuantity input[type=text] {width: 24%;}
.slider1 li, .sfFeaturedBrands li {
     float:none; 
   
}
}


@media only screen and ( max-width: 664px ) 
    {
     .cssClassSageSearchWrapper input.cssClassSageSearchButton { padding: 3px 12px;}
    }
@media only screen and ( max-width: 480px ) 
    {
   .ui-dialog #dialog{
    position: absolute!important;
    height: 198px!important;
    width: 350px!important;

    }
        .cssClassHeadeTitle th {
            padding: 0px;
        }
        #alert-Box {
    height: 40%!important;
    width: 75%!important;
}
    }
@media only screen and ( max-width: 768px ) and ( min-width: 320px ) 
    {
  .cssClassSageSearchWrapper input.cssClassSageSearchBox {
    /*width: 80%!important;*/
}
  .cssClassSageSearchWrapper input.cssClassSageSearchButton {
   float:right!important;
}
  
    }
@media only screen and ( max-width: 1261px ) and ( min-width: 1025px ) 
    {
 #sfCatmenu .sfInnerwrapper {
    font-size: 17px;
}
    }

@media only screen and ( max-width: 1168px ) and ( min-width: 1025px ) 
    {
.cssClassSageSearchWrapper input.cssClassSageSearchBox {
    /*width: 66%;*/
        width: 91%;
}
#sfAspxshoppingbag {
    top: 40px!important;
}
    }
@media only screen and ( max-width: 1700px ) and ( min-width: 1025px ) {
    .sf-menu {
        display: block !important;
    }
}

@media only screen and ( max-width: 1024px ) and ( min-width: 961px ) {
    .sf-menu {
        display: block !important;
    }
}
@media only screen and (max-width: 680px) and ( min-width: 480px )
{
    .addtocarts {
        width: 50%;
    }
    .classQuantity{
            width: 50%;
    }
    .cssClassAddtoCard label {
    padding: 8px 1px;
}
}
@media only screen and (max-width: 759px) and ( min-width: 681px )
{
    .addtocarts {
        width: 50%;
    }
    .classQuantity{
            width: 50%;
    }
    .cssClassAddtoCard label {
    padding: 8px 1px;
}
}
@media only screen and ( min-width: 800px ) and (max-width: 899px){
    #divEmailSubsCribe input.sfInputbox {
    width: 89%;
}

}
@media only screen and (max-width: 1023px)  and (min-width: 961px) { 
    #divEmailSubsCribe input.sfInputbox {
    width: 53%;
}
}
@media only screen and (max-width: 1099px)  and (min-width: 1025px) { 
    #divEmailSubsCribe input.sfInputbox {
    width: 55%;
}
}
@media only screen and (max-width: 730px)  and (min-width: 640px) { 
   #divEmailSubsCribe input.sfInputbox {
    width: 86.5%;
}
}
@media only screen and (max-width: 594px)  and (min-width: 481px) { 
   #divEmailSubsCribe input.sfInputbox {
    width: 82%;
}

}
@media only screen and ( max-width: 960px ) and ( min-width: 641px ) {
    #sfCityselection {
    top: 5px;
     right: 58%;
    position:absolute;
      
    }
    #sfCityselection .dropdown-menu1{
    right: -260px!important;
    z-index: 99999;
    }
    .sflocity {
        width: 30%;
    }
}
@media only screen and ( max-width: 640px ) and ( min-width: 481px ) {
    #sfCityselection {
    top: 5px;
     right: 58%;
    position:absolute;
      
    }
     #sfCityselection .dropdown-menu1{
    right: -260px!important;
    z-index: 99999;
    }
    .sflocity {
        width: 50%;
    }
}
@media only screen and ( max-width: 480px ) and ( min-width: 361px ) {
    #sfCityselection {
 
    top: 5px;
 right: 58%;
   position:absolute;
       
    }
  #sfCityselection .dropdown-menu1{
     min-width: 283px!important;
    right: -200px!important;
    z-index: 99999;
    }
  .cssClassSageSearchWrapper input.cssClassSageSearchBox {width:88%!important;}
}

@media only screen and ( max-width: 360px ){
    #sfCityselection {
 
   top: 5px;
    right: 58%;
   position:absolute;
       
    }
   #sfCityselection .dropdown-menu1{
     min-width: 283px!important;
    right: -200px!important;
    z-index: 99999;
    }
}


@media only screen and ( max-width: 1160px ) and ( min-width: 961px ) {
    #sfToplinks {
     width:60%;
    }
    #sfLogin{
        width:25%;
    }
    .i-menu{
        display:none;
    }
    #ReviewF h2, #ReviewForm h2{
        font-size:15px;
    }
   
}
@media only screen and ( max-width: 960px )
    { 
.scrollToTop {
    right: 30px;
}
#mobilervw{
    display:block;
}
       
#deskrvw{
    display:none;
}
#lnkMiniCheckOut{
    display:none!important;
}
#sfCityselection{
    /*display:none!important;*/
}
 #sfCityselection1 {
            display: block;
        }
 .cityresponsive {
    display:block;
}
 #CityLoaction{
     display:none;
 }
  .sflocity {
   
    font-size: 20px;
    background: #fff;
    color: #0088cc;
}
}