/*
.sfSubscribe .sfInputbox { margin-bottom:20px;}*/

#divEmailSubsCribe input.sfInputbox{    margin-bottom: 0; width:60%;background-color: transparent; /*border: solid 1px #1a3967;*/ box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none; padding:8px; float:left; margin:0 5px;border-radius:0px}
.cssClassSubmitBtn,.sfBtn{width:auto}
#divEmailSubsCribe {margin: 10px 0;/*width: 60%; margin: 0 auto;*/}