﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SiteMap.ascx.cs" Inherits="Modules_SanchiCommerce_AspxSiteMap_SiteMap" %>




<div class="sitemap">
    <asp:Literal runat="server" ID="ltAspxSiteMap" 
        meta:resourcekey="ltAspxSiteMapResource1"></asp:Literal>
</div>